.mt-8 {
  margin-top: 8rem!important;
}

.mt-7 {
  margin-top: 7rem!important;
}

.mt-10 {
  margin-top: 10rem!important;
}

@media (min-width: 576px) {
  .info-paragraph h4 {
    font-size: 1.8rem;
  }
}

#heading_and_btn {
  margin-top: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex: 1;
  padding-bottom: 1rem;
}

