.mt-8 {
  margin-top: 8rem!important;
}

.mt-7 {
  margin-top: 7rem!important;
}

.mt-10 {
  margin-top: 10rem!important;
}

@media (min-width: 768px) {
  #heading_and_btn h5 {
    font-size: 1.5rem;
  }
}

