/* Overwrites existing kwes css classes for customisation */

.kw-border-success, .kw-border-error {
  border: none !important;
}

.kw-field-error-message {
  position: absolute;
  bottom: -22px;
  left: 0.75rem;
}

.kw-alert-success {
  background-color: rgb(171,231,235) !important;
  color: rgb(25,120,126) !important;
}

@media (max-width: 991px) {
  .kw-alert-success {
    position: fixed;
    bottom: 0px;
    width: 80% !important;
    right: 10%;
    left: 10%;
    opacity: 1 !important;
    z-index: 10;
  }
}

#msg-ta {
}

