.blue5blue {
  color: #006a60 !important;
}

.btn-blue5blue {
  color: #006a60;
  border-color: #006a60;
}

.btn-blue5blue:hover {
  background-color: #006a60;
  color: white;
}

.transparent {
  background: rgba(0,0,0,0.8);
}

.nav-visible {
  top: 0;
  transition: top 0.5s;
}

.nav-hidden {
  top: -100px;
}

#landing-flex-box {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  width: 100%;
  max-width: none;
  color: white;
  z-index: 2;
}

@media (min-width: 300px) {
  #zitat {
    padding: 0rem 1.5rem;
  }
}

#sec-home {
  color: rgba(0,0,0,0.6);
  height: 100vh;
  background: url(../../assets/img/backgrounds/formula_bg.png) no-repeat;
  background-size: cover;
}

.about-us-list {
  font-size: 0.85rem;
  text-align: start;
}

#sec-about-us {
  background-image: url(../../assets/img/backgrounds/bg_oct_md.png);
  background-repeat: no-repeat;
  background-position: right top;
  background-size: contain;
}

@media (min-width: 992px) {
  #sec-about-us {
    background-image: url(../../assets/img/backgrounds/bg_oct.png);
    background-repeat: no-repeat;
    background-position: right top;
    background-size: contain;
  }
}

#sec-info {
  min-height: 100vh;
  background-image: url(../../assets/img/backgrounds/bg_dod_md.png);
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: contain;
}

@media (min-width: 992px) {
  #sec-info {
    background-image: url(../../assets/img/backgrounds/bg_dod.png);
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: contain;
  }
}

.next-sec-button {
  width: 150px;
}

.person-card {
  margin: 1rem auto;
  max-width: 400px;
  min-width: 300px;
  margin: auto auto;
}

.navbar-logo {
  width: auto;
  height: auto;
  max-width: 200px;
  max-height: 72px;
  cursor: pointer;
}

.f-box:hover {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.feature-box:hover {
  transition: 0.5s;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#navbar-overlay {
  height: 50px;
  width: 100%;
  position: fixed;
  background-color: rgba(0,0,0,0);
  z-index: 3;
}

/* f-box is a custom version of feature box using flexbox to align heading and items vertically centered */

.f-box {
  margin: 10px;
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 15px 20px;
}

.f-box h4 {
  margin-bottom: 0;
}

.f-box h4 {
  font-weight: 600;
  font-size: 1.2rem;
  margin-left: 1.5rem;
}

.f-box .icon {
  font-size: 30px;
}

.feature-box ul {
  font-size: .9em;
  opacity: .8;
}

.feature-list {
  font-size: .9em;
  opacity: .8;
  margin-left: -35px;
}

.feature-box {
  padding: 15px 20px 15px 70px;
  margin: 15px;
  cursor: pointer;
  background-color: rgba(166,225,250,0.2);
  border-radius: 0.5em;
}

html {
  scroll-padding-top: 110px;
}

html, body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#info-paragraph {
  font-size: 1.1rem;
}

.info-paragraph {
  padding-top: 15vh;
  margin-bottom: 40px;
  text-align: center;
}

@media (min-width: 576px) {
  .info-paragraph {
    font-size: 1.1rem;
    padding-top: 20vh;
  }
}

.med-width-paragraph {
  opacity: 0.7;
  max-width: 600px;
  margin: 2em auto;
}

@media (min-width: 1200px) {
  .med-width-paragraph {
    max-width: 700px;
  }
}

.person-col {
  padding: 1em 1em;
  align-items: stretch;
}

.card-body {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  justify-self: stretch;
}

#contact-illustration {
  width: 40%;
}

#carousel-1 {
  max-width: 800px;
  margin: auto auto;
}

#learnMoreBtn:hover {
  background-color: #006a60;
  color: #fff;
}

.h6, h6 {
  font-size: 1.1rem;
}

.feature-box p {
  font-size: 0.93em;
  opacity: .8;
}

.cust-feat-box {
  padding-bottom: 40px;
  padding: 25px 15px;
  box-shadow: 0 2px 10px rgba(0,0,0,.075);
  margin: 30px auto 30px auto;
  background-color: rgba(216,225,233,0.52);
  border-radius: 1em;
}

.usecase-box {
  padding-bottom: 40px;
  padding: 25px 15px;
  box-shadow: 0 2px 10px rgba(0,0,0,.075);
  margin-top: 30px;
  display: flex;
  background-color: rgba(216,225,233,0.52);
  flex-wrap: wrap;
  border-radius: 1rem;
  justify-content: center;
}

.cust-feat-box p, ul {
  opacity: 0.8;
}

.icon-h4 {
  margin-left: 10px;
  margin: auto 15px;
}

.heading-flex {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  width: 100%;
}

.cust-feat-box i {
  font-size: 30px;
}

.slide-overlay {
  background-color: rgba(109,181,174,0.7);
  z-index: 2;
  height: 50px;
  bottom: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: absolute;
  font-size: 1.2rem;
}

@media (min-width: 768px) {
  .slide-overlay {
    height: 70px;
  }
}

.carousel-indicators {
  top: 0;
  bottom: initial;
}

@media (min-width: 768px) {
  .slide-overlay h4 {
    font-size: 1.5rem!important;
  }
}

.slide-overlay h4 {
  font-size: 1.2rem;
}

#contact-btn {
  padding-left: 70px;
  text-align: left;
}

#contact-btn:hover {
  color: white;
}

.contact-icon {
  font-size: 3rem;
  position: absolute;
  left: 10px;
  top: 10px;
}

/* The following definitions are just copied from bootstraps css - only adjustment is that the media-queries were removed to have the same footer design for all sizes */

.page-footer ul li {
  position: relative;
  padding-left: 10px;
}

.page-footer ul li:after, .page-footer ul li:before {
  content: "";
  position: absolute;
  left: 0;
  width: 2px;
  height: 6px;
  border-radius: 2px;
  background-color: #007bff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.page-footer ul li:before {
  top: 9px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.page-footer ul li:after {
  top: 13px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.page-footer {
  text-align: left;
}

/* Part of the footer holding all the links */

.footer-column {
  min-width: 300px;
}

.person-img-div {
  padding: 20px 20px 0px 20px;
}

.person-card img {
  max-width: 100%;
  max-height: 100%;
}

#use-cases {
  background: url("../../assets/img/backgrounds/bg_cube_md.png");
  background-repeat: no-repeat;
  background-position: left top;
  background-size: contain;
  background-color: #f6f6f6;
  min-height: 100vh;
}

@media (min-width: 992px) {
  #use-cases {
    background: url("../../assets/img/backgrounds/bg_cube.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left top;
    background-color: #f6f6f6;
  }
}

#sec-services {
  background: url("../../assets/img/backgrounds/bg_tetra_md.png");
  background-repeat: no-repeat;
  background-position: right top;
  background-size: contain;
}

@media (min-width: 992px) {
  #sec-services {
    background: url("../../assets/img/backgrounds/bg_tetra.png");
    background-repeat: no-repeat;
    background-position: right top;
    background-size: contain;
  }
}

@media (min-width: 992px) {
  .clean-block .block-heading p {
    text-align: center;
    max-width: 620px;
    margin: auto;
    opacity: .7;
  }
}

.usecase-box-left {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.usecase-component-left {
  background: linear-gradient(180deg, rgba(166,225,250,0.2) 0%, #bfd3ee 100%);
  border-radius: 1em;
  box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.1);
  padding: 1em;
  margin: 0.5em 0;
}

.usecase-component-right {
  padding: 1em;
  margin: 0.5em 0;
  border-radius: 1em;
  background: linear-gradient(180deg, rgba(166,225,250,0.2) 0%, #bfd3ee 100%);
  box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.1);
}

.usecase-box li {
  margin: 5px 0;
}

.usecase-box-heading {
  min-width: 400px;
}

/* Taken from https://css-tricks.com/snippets/css/prevent-long-urls-from-breaking-out-of-container/ */

.dont-break-out {
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.bg-long-page {
  background: url("../../assets/img/backgrounds/long_page_sm.png");
  background-size: 100%;
  background-repeat: no-repeat;
  min-height: 600px;
}

@media (min-width: 1400px) {
  .bg-long-page {
    background: url("../../assets/img/backgrounds/long_page_xl.png");
    background-size: 90%;
    background-repeat: no-repeat;
  }
}

@media (min-width: 768px) {
  .bg-long-page {
    background: url("../../assets/img/backgrounds/long_page.png");
    background-size: 100%;
    background-repeat: no-repeat;
  }
}

